<html>
<body>
  <h1>Colgate Schedule</h1>
  <p>
    So I got my Colgate classes. Great. But
    they are only on portal site! I want them on my calendar like the rest of
    my life, cause I am all organized and in college! Well tough luck, I guess
    I gotta add them all manually and then take out the colgate holidays and then
    make sure the first two days of class are different cause they run at some
    weird messed up schedule...
  </p>
  <p>
    Screw that. Put in your Colgate portal username and password and get back an
    <code>.ics</code> file. So you can add to you Google Calender or iCal or whatever.
  </p>
  <p>
    Add
    <code>http://colgate-schedule.herokuapp.com/&lt;colgate portal username&gt;/&lt;colgate password&gt;</code>
    as a shared server.
  </p>
</body>
